/* LoginPage.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/1132526.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
}

.login-box {
    width: 400px;
    padding: 40px;
    background: linear-gradient(to bottom right, #7b42f6, #b86edf);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-logo img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

h2 {
    color: white;
    font-size: 24px;
}

.login-form .ant-form-item {
    margin-bottom: 16px;
}

.login-form .ant-input-affix-wrapper {
    border-radius: 30px;
    padding-left: 15px;
}

.login-form .ant-input {
    border-radius: 30px;
}

.login-form-button {
    width: 100%;
    background: white;
    color: #7b42f6;
    border-radius: 30px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
}

.login-form-forgot {
    float: right;
    color: white;
}

.login-form-forgot:hover {
    color: #fff;
}
